<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
        <div class="card-body">
          <a class="btn btn-block btn-social btn-github" href="/auth/github" role="button">
            <i class="fab fa-github"></i>
            Sign In with GitHub
          </a>
        </div>
        <div class="card-body">
          <p>Created by Jordan D Marr</p>
          <a class="link-primary" href="https://jdmarr-homepage.herokuapp.com/">(Home Page)</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="link-secondary" href="https://www.linkedin.com/in/jordan-marr-1a543185/">(LinkedIn)</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="link-danger" href="https://github.com/jdmarr">(GitHub)</a>
        </div>
      </div>
      </div>

  </div>
</div>

<%- include('partials/footer') %>
