<%- include('partials/header') %>
<%- include('partials/navbar', {route: 'new-image'}) %>

<div class="my-form">
<h2>Image upload failed.</h2>
<br>
<h2> Please use a smaller image or retry from a faster internet connection.</h2>
<br>
<a class="btn btn-lg blue-background white" href="/new-image" role="button">Add New Image</a>
</div>
<%- include('partials/footer') %>
