.white-background {background-color:#ffffff;}
.red-background {background-color:#ff0000;}
.blue-background {background-color:#0000ff;}
.grey-background {background-color:#888888;}
.white {color:#ffffff;}
