.white-background {background-color:#ffffff;}
.red-background {background-color:#ff0000;}
.blue-background {background-color:#0000ff;}
.grey-background {background-color:#888888;}
.white {color:#ffffff;}

.carousel-inner {
  width: 98%;
  left: 1%;
  height: 1000px;
}

.my-carousel-image {
  object-fit: cover;
  height: 1000px;
}

.my-figure-image {
  width: 5000px; /* stretch to fit whole container */
  object-fit: cover; /* smartly scale image for conatiner */
}

.button-set {
  margin: 0 auto;
  width: 98%;
}

.my-form {
  margin: 0 auto;
  width: 50%;
}
